body{
    width: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

h1, h2 {
    color: #333;
}
a{
    text-decoration: none;
    color: white;
}
button.cta {
    background-color: #ee608f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: 1s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

button.cta:hover {
    a{
        color: #f0a8c0;
    }
    transform: scale(1.1);
    background-color: white;
    border: 2px solid #f87dae;
}
.cover-pic {
    width: 100%;
    height: 100vh;
    background-image: url('./images/booths-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.63);
    padding: 20px;
    border-radius: 10px;
}
.overlay p{
    font-size: 1.4em;
    max-width: 700px;
}
.overlay h1{
    font-size: 3em;
}
.cover-pic h1, .cover-pic p {
    color: white;
}

section{
    margin-top: 20px;
}
.how-it-works{
    border-radius: 20px;
    box-shadow: 10px 10px 10px #f0a8c0;
    width: 70%;
    display: flex;
    align-items: center;
}
.how-it-works img{
    width: 50%;
    border-radius: 20px 0 0 20px;
}
.steps, .listings, .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.features{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.steps{
    text-align: left;
}
.step {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    color: white;
    font-size: 1.2em;
}
.feature{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}
.how-it-works h2{
    font-size: 2em;
    color: white;
}
span{
    color: #ee608f;
}
.why-choose-us{
    background-color: black;
    display: flex;
    align-items: center;
    text-align:left;
    width: 70%;
    display: flex;
    align-items: center;
}
.why-features p{
    font-size: 1em;
}
.why-choose-us h2{
    font-size: 2.5em;
    color: white;
}
.why-choose-us img{
    width: 50%;
}
.listing {
    background: #ffebee;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}
.featured-listings{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.featured-listings h2{
    font-size: 2em;
    color: white;
    text-shadow: 0px 5px rgb(71, 70, 70);
}
.listing{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    z-index: -1;
}
.featured-listings button{
    width: 50%;
    height: 50px;
}
.featured-listings img{
    width: 50%;
}

.testimonials{
    width: 70%;
    color: white;
}
.testimonials h2{
    font-size: 2.5em;
    color: rgb(192, 183, 191);
}
.image-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-text img{
    width: 50%;
}
.image-text p{
    font-size: 1.5em;
    max-width: 450px;
}
.join{
    width: 300px;
    height: 50px;
}
.questions{
    color: white;
    font-size: 1.5em;
    text-align: left;
}
.faq h2{
    color: white;
    font-size: 2.3em;
}
.faq button{
    font-size: 1em;
    width: 300px;
}
.faq img{
    width: 500px;
    margin-top: 30px;
}
footer {
    width: 100%;
    background-color: #f5b0f5;
    color: white;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.footer-text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.ready{
    font-size: 2em;
    color: black;
}
footer :nth-child(4){
    color: #000000;
}
.contact{
    color: rgb(245, 242, 243);
    font-weight: 900;
}
footer img{
    width: 50%;
}

.footer-txt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-txt-btn p{
    color: black;
}
.below{
    display: none;
}
@media (max-width: 768px) {
    .overlay h1 {
        font-size: 2em;
    }

    .how-it-works, .why-choose-us, .featured-listings {
        flex-direction: column;
        text-align: center;
    }

    .how-it-works img, .why-choose-us img {
        width: 80%;
    }

    .steps, .features {
        text-align: center;
    }

    .image-text {
        flex-direction: column;
        text-align: center;
    }

    .image-text img, .image-text p {
        width: 90%;
    }

    .faq {
        text-align: center;
    }
    .questions {
        padding: 30px 30px 0 30px;
    }
    .questions p{
        font-size: 0.5em;
    }
   .questions h2{
       font-size: 1em;
    }
    .questions button{
        width: 100%;
        height: 30px;
        font-size: 0.5em;
    }
    .faq img {
        width: 90%;
    }
    .testimonials h2{
        font-size: 1.5em;
        padding: 10px;
    }
    
    .testimonials{
        width: 100%;
    }
    button.cta {
        width: 80%;
        max-width: 300px;
    }
    .ready{
        font-size: 1.5em;
    }
    footer{
        height: auto;
        flex-direction: column;
    }
    footer img{
        width: 100%;
    }
    .footer-text{
        width: 100%;
    }
    .footer-txt-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-text p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .below{
        display: block;
        margin-top: 16px;
    }
    .top{
        display: none;
    }
    .image-text p{
        font-size: 1em;
        max-width: 450px;
    }
    .why-features h2{
        font-size: 1.5em;
    }
    .listing{
        font-size: 0.8em;
        text-align: left;
    }
    .featured-listings img{
        width: 100%;
    }
    .why-choose-us{
        width: 100%;
    }
    .how-it-works{
        width: 100%;
    }
    .why-features img{
        width: 100%;
    }
    .step{
        text-align: left;
    }
}
@media (min-width: 768px){
    .questions{
        font-size: 1.5em;
    }

}